.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A6FFCE;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #7A322B;
}
h1:hover{
  color: #2F9459;
}

p {
  font-size: 2rem;
  color: #7A322B;
  font-family: 'Indie Flower', cursive;
}
p:hover{
  color: #2F9459;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #7A322B;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
footer:hover {
  color: #2F9459;
}

